.block {
  padding: 0px calc(30px + (75 - 30) * ((100vw - 1000px) / (1440 - 1000)));
  max-width: 1440px;
  margin: 0 auto;
  min-width: 320px;
  @media (min-width: 1440px) {
    padding: 0px 75px;
  }
  @media (max-width: 1000px) {
    padding: 0px calc(10px + (30 - 10) * ((100vw - 320px) / (1000 - 320)));
  }
  .content {
    display: flex;
    @media (max-width: 980px) {
      flex-direction: column;
    }
  }
}
