.sadeBar {
  background-color: #f2f5f7;
  width: 300px;
  flex-grow: 1;
  min-height: calc(100% - 60px);
  .list {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    .active {
      color: red;
    }
    a {
      padding: 10px 0 10px 25px;
      text-decoration: none;
      color: #000;
      &:hover {
        color: blue;
        background-color: #c8c8c8;
      }
    }
  }
  .logOut {
    padding: 10px 0 10px 25px;
    background-color: #f2f5f7;
    border: 0;
    width: 100%;
    cursor: pointer;
    &:hover {
      color: blue;
      background-color: #c8c8c8;
    }
  }
}
